<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="https://the-internet.herokuapp.com/"/> 
<!--  <parameter name="browser" value="chrome"/>-->
<!-- <parameter name="groups" value="all"/> -->
  <test name="basicTest">
    <classes>
      <class name="com.herokuappTheInternet.SynackQA.BaseTest"/>
      <class name="com.herokuappTheInternet.SynackQA.HomePageTest"/>
      <class name="com.herokuappTheInternet.SynackQA.DisappearingElementsPageTest"/>    
      <class name="com.herokuappTheInternet.SynackQA.DynamicContentPageTest"/>    
    </classes>
  </test>
</suite>